* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 100vw;
  background-color: #a9a9a9;
}

.header {
  background-color: #333;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.app-title {
  padding-bottom: 0.5rem;
  color: #eff;
}

.todo-input {
  width: 250px;
  height: 2rem;
  font-size: 1rem;
  border-radius: 4px;
  padding-left: 0.5rem;
  outline: none;
}

button {
  margin: 0.5rem;
  padding: 0.33rem 0.75rem;
  background-color: #111;
  color: #eff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.deleteButton {
  display: inline-block;
  position: absolute;
  right: 0;
  color: orange;
}

.list-container {
  background-color: #a9a9a9;
  padding-bottom: 1px;
}

ul {
  list-style-type: none;
}

li {
  background-color: #d3d3d3;
  margin: 0.33rem;
  font-size: 1.5rem;
}
